@import "open_sans";


$background-color: #000000;
$orange: #f79b19;
$grey: #aaaaaa;
$dark-grey: #2c2c2c;
$button-diametr:75px;
$white: rgb(253, 253, 253);

*{
  box-sizing: border-box;
}



.container{
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{

  width: 390px;
  height: 650px;
  font-family: 'Open Sans';
  font-weight: 300;
  background-color: $background-color;
/*   width: 100%;
  height: 100%; */
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.display{
  overflow: hidden;
  height: 30%;
  padding: {
    left: 20px;
    right: 20px;
    bottom: 10px
  };
  color: $white;
  font-size: 65px;
/*   letter-spacing: 3px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

}

.buttons{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

}


.button{
  font-size: 30px;
  place-self: center;
  padding: 0;
  width: $button-diametr;
  height: $button-diametr;
  border: none;
  border-radius: 50%;
  position: relative;
  &:active::before{
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
  }
}

#zero{
  grid-column-start: 1;
  grid-column-end: span 2;
  border-radius: 100px;
  width: $button-diametr*2 + 22px;
  height: $button-diametr;
}

.operator{ background-color: $orange; color: $white;}

.editor{ background-color: $grey; }

.number{ background-color: $dark-grey; color: $white}

.orange-active{
  background-color: $white;
  color: $orange;
}

@media (max-width: 425px) {
/*   body{
    background-color: $background-color;
  } */
  
  .container{
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
    touch-action: manipulation;
  }
  .calculator{
    margin: 0 auto;
    height: 100%
  }
}